@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Code+Pro&display=swap');

:root {
  /* --primary-color : #0074E4; =>  solid blue */
  /* purple gradint hex code #FE4EDA */
  --primary-color: linear-gradient(160deg, #BF00FF 10%, #32174D 100%);
  --primary-color-purple: #BF00FF ;
  --section-bg : #e144ba0c ;
  --text-color-white : #f5f5f5 ;
  --light-gray : #F5F5F5;
  --white: #fff;  
  --black : #000000;
  --text-font-family :"Poppins", sans-serif;
  --heading-font-family : "Nunito", "sans-serif";
  --height: 100vh;

  /* --black: #000;
  --light-black: #1c1816;
  --light-black-two: #1c1816; 
  --white: #fff;
  --bg-one: #a6b6cf;
  --bg-two: #e7e9eb;
  --bg-one: #a6b6cf;
  --bg-two: #e7e9eb; */
  /* --text-font : 'Lato', sans-serif; */
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row{
  margin: 0 auto;
}


/* contsnt text */
.navbar-brand {
  font-family: var(--heading-font);
}
.constant__heading {
  font-family: var(--heading-font-family );
  /* color: #f5f5f5 !important; */
  color:#000000;
}

.constant__heading.constant-white{
  color: var(--text-color-white) ;
}
.constant__text {
  font-family: var(--text-font-family);
  font-weight: 500;
  
}
.constant__text-justify{
  text-align: justify;
}


/* constant btn css */
.constant-btn {
  border-radius: 20px; 
  box-shadow: none !important; 
}
.constant-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
.constant-btn:active {
  transform: scale(0.97) !important;
  box-shadow: none !important;
  outline: none !important;
}
